{% extends "SofApiBundle::layout.html.twig" %}
{% block content %}
    {#Routing#}
    {#module Driver#}
    <div id="Driver_Load" action="{{ path('Driver_Load') }}"></div>
    <div id="Driver_Update" action="{{ path('Driver_Update') }}"></div>
    <div id="Driver_Delete" action="{{ path('Driver_Delete') }}"></div>
    {#module User#}
    <div id="User_Load" action="{{ path('User_Load') }}"></div>
    <div id="User_Update" action="{{ path('User_Update') }}"></div>
    <div id="User_Delete" action="{{ path('User_Delete') }}"></div>
    <div id="User_ChangePassword" action="{{ path('User_ChangePassword') }}"></div>
    <div id="User_ChangeProfile" action="{{ path('User_ChangeProfile') }}"></div>
    {#module Customer#}
    <div id="Customer_Load" action="{{ path('Customer_Load') }}"></div>
    <div id="Customer_Update" action="{{ path('Customer_Update') }}"></div>
    <div id="Customer_Delete" action="{{ path('Customer_Delete') }}"></div>
    {#module Product#}
    <div id="Product_Load" action="{{ path('Product_Load') }}"></div>
    <div id="Product_Update" action="{{ path('Product_Update') }}"></div>
    <div id="Product_Delete" action="{{ path('Product_Delete') }}"></div>
    {#module Unit#}
    <div id="Unit_Load" action="{{ path('Unit_Load') }}"></div>
    <div id="Unit_Update" action="{{ path('Unit_Update') }}"></div>
    <div id="Unit_Delete" action="{{ path('Unit_Delete') }}"></div>
    {#module Invoice#}
    <div id="Invoice_Load" action="{{ path('Invoice_Load') }}"></div>
    <div id="Invoice_Delete" action="{{ path('Invoice_Delete') }}"></div>
    {#Input#}
    <div id="Input_Load" action="{{ path('Input_Load') }}"></div>
    <div id="Input_Update" action="{{ path('Input_Update') }}"></div>
    <div id="Input_Delete" action="{{ path('Input_Delete') }}"></div>
    {#Output#}
    <div id="Output_Load" action="{{ path('Output_Load') }}"></div>
    <div id="Output_Update" action="{{ path('Output_Update') }}"></div>
    <div id="Output_Delete" action="{{ path('Output_Delete') }}"></div>

    {#Logout path#}
    <div id="user_logout" action="{{ path('user_logout') }}"></div>

    {#Data store#}
    <div id="ModuleJson"    data="{{ moduleJson }}"></div>
    <div id="UserLoginJson" data="{{ userJson }}"></div>
{% endblock %}
