{% extends "SofApiBundle::layout.html.twig" %}
{% block content %}
    {#Routing#}
    {#module Driver#}
    <div id="Driver_Load" action="{{ path('Driver_Load') }}"></div>
    <div id="Driver_Update" action="{{ path('Driver_Update') }}"></div>
    <div id="Driver_Delete" action="{{ path('Driver_Delete') }}"></div>
    {#module User#}
    <div id="User_Load" action="{{ path('User_Load') }}"></div>
    <div id="User_Update" action="{{ path('User_Update') }}"></div>
    <div id="User_Delete" action="{{ path('User_Delete') }}"></div>
    <div id="User_ChangePassword" action="{{ path('User_ChangePassword') }}"></div>
    <div id="User_ChangeProfile" action="{{ path('User_ChangeProfile') }}"></div>
    {#module Customer#}
    <div id="Customer_Load" action="{{ path('Customer_Load') }}"></div>
    <div id="Customer_Update" action="{{ path('Customer_Update') }}"></div>
    <div id="Customer_Delete" action="{{ path('Customer_Delete') }}"></div>
    {#module Product#}
    <div id="Product_Load" action="{{ path('Product_Load') }}"></div>
    <div id="Product_Update" action="{{ path('Product_Update') }}"></div>
    <div id="Product_Delete" action="{{ path('Product_Delete') }}"></div>
    {#module Unit#}
    <div id="Unit_Load" action="{{ path('Unit_Load') }}"></div>
    <div id="Unit_Update" action="{{ path('Unit_Update') }}"></div>
    <div id="Unit_Delete" action="{{ path('Unit_Delete') }}"></div>
    {#module Distributor#}
    <div id="Distributor_Load" action="{{ path('Distributor_Load') }}"></div>
    <div id="Distributor_Update" action="{{ path('Distributor_Update') }}"></div>
    <div id="Distributor_Delete" action="{{ path('Distributor_Delete') }}"></div>
    {#module Liabilities#}
    <div id="Liabilities_Load" action="{{ path('Liabilities_Load') }}"></div>
    <div id="Liabilities_Customer_Load" action="{{ path('Liabilities_Customer_Load') }}"></div>
    <div id="Liabilities_Save" action="{{ path('Liabilities_Save') }}"></div>
    <div id="Liabilities_Delete" action="{{ path('Liabilities_Delete') }}"></div>
    {#module Invoice#}
    <div id="Invoice_Load" action="{{ path('Invoice_Load') }}"></div>
    <div id="Invoice_Delete" action="{{ path('Invoice_Delete') }}"></div>

    <div id="List_Output_Load" action="{{ path('List_Output_Load') }}"></div>
    {#Input#}
    <div id="Input_Load" action="{{ path('Input_Load') }}"></div>
    <div id="Input_Update" action="{{ path('Input_Update') }}"></div>
    <div id="Input_Delete" action="{{ path('Input_Delete') }}"></div>
    {#Delivery#}
    <div id="Delivery_InvoiceLoad" action="{{ path('Delivery_InvoiceLoad') }}"></div>
    <div id="Delivery_DriverInvoiceLoad" action="{{ path('Delivery_DriverInvoiceLoad') }}"></div>
    <div id="Delivery_AddDriverInvoice" action="{{ path('Delivery_AddDriverInvoice') }}"></div>
    <div id="Delivery_Delete" action="{{ path('Delivery_Delete') }}"></div>
    {#Report#}
    <div id="Report_InventoryLoad" action="{{ path('Report_InventoryLoad') }}"></div>
    {#Logout path#}
    <div id="user_logout" action="{{ path('user_logout') }}"></div>

    {#Data store#}
    <div id="ModuleJson"    data="{{ moduleJson }}"></div>
    <div id="UserLoginJson" data="{{ userJson }}"></div>
{% endblock %}
