<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="vi"/>
        <title>{% block title %}Admin Grocery Store{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('image/store.ico') }}" />

        {% set extUrl          = asset('js/ext-js') %}
        {% set desktopUrl      = asset('js/desktop/js') %}
        {% set utilUrl         = asset('js/desktop/util') %}
        {% set uxUrl           = asset('js/desktop/ux') %}
        {% set myDesktopUrl    = asset('js/desktop') %}
        {% set srcPageUrl      = asset('js/desktop/pages') %}
        {% set srcTranslateUrl = asset('js/desktop/translate') %}

        <link rel="stylesheet" href="{{ asset(extUrl) ~ '/resources/ext-theme-classic/ext-theme-classic-all-debug.css' }}" />
        <link rel="stylesheet" href="{{ asset(myDesktopUrl) ~ '/css/desktop.css' }}" />

        <script src="{{ asset(extUrl) ~ '/ext-all-debug.js' }}"></script>
        <script src="{{ asset(extUrl) ~ '/examples/shared/include-ext.js' }}"></script>
        <script src="{{ asset(utilUrl) ~ '/Translate.js' }}"></script>
        {#<script src="{{ asset(extUrl) ~ '/examples/shared/options-toolbar.js' }}"></script>#}

        {#Call multi language#}
        <script src="{{ asset(srcTranslateUrl) ~ '/vi_VN/common.js' }}"></script>
        <script>
            var url              = "{{ desktopUrl }}",
                utilUrl          = "{{ utilUrl }}",
                uxUrl            = "{{ uxUrl }}",
                myDesktopUrl     = "{{ myDesktopUrl }}",
                srcPageUrl       = "{{ srcPageUrl }}",

                moneyFormat      = "0,000",
                numberFormat     = "0,000",
                decimalPrecision = 0,

                limitDefault     = 20,
                pageSizeDefault  = 20,
                pageDefault      = 1,
                startDefault     = 0,
                height_400       = 400,
                height_500       = 500,
                height_600       = 600,
                width_300        = 300,
                width_400        = 400,
                width_500        = 500,
                width_600        = 600,
                width_700        = 700,
                width_800        = 800,

                pageSizeReport   = 50,
                limitReport      = 50,

                firstDateFormat  = '01/m/Y',
                lastDateFormat   = 't/m/Y',
                dateFormat       = 'd/m/Y',
                dateSubmitFormat = 'Y/m/d',

                firstDateFormatY  = 'm/Y',
                lastDateFormatY   = 'm/Y',
                dateFormatY       = 'Y',
                dateSubmitFormatY = 'Y';

            Ext.Loader.setPath({
                'Ext.ux.desktop': url,
                MyUtil          : utilUrl,
                MyUx            : uxUrl,
                MyDesktop       : myDesktopUrl,
                SrcPageUrl      : srcPageUrl
            });

            Ext.require('MyDesktop.App');
            Ext.require('MyUtil.Path');
            Ext.require('MyUtil.Message');
            Ext.require('MyUtil.Object');
            Ext.require('MyUtil.String');

            var myDesktopApp;
            Ext.onReady(function () {
                myDesktopApp = new MyDesktop.App();
            });
        </script>
    </head>
    <body>
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>